@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
/*Includes custom scrollbar*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a;
    scrollbar-width: auto;
    scrollbar-color: #88828a #24252a;
    font-family: "Montserrat", sans-serif;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #24252a;
}

*::-webkit-scrollbar-thumb {
    background-color: #ecf0f1;
    border-radius: 10px;
    border: 3px solid #ecf0f1;
}

body {
    color: #ecf0f1;
}

/*Navigation Styling*/ 
nav {
    background-color: transparent;
    overflow: hidden;
}

nav a {
    float: right;
    color: inherit;
    text-align: center;
    padding: 30px 15px;
    margin: 20px;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.3s ease 0s;
}

nav a:hover {
    color: #808080;
}

/*Header Styling*/
h1 {
    font-size: 50px;
    padding: 20px;
}

.profile {
    max-width: 100%;
    height: auto;
    padding: 50px;
    border-radius: 20% ;
}
/*About Styling*/
.about {
    display: flex;
    padding: 10px;
    margin: 10px  
}

.about h2 {
    display: flex;
    padding: 10px;
    font-size: 30px;
    text-decoration: underline;
}

.about p {
    display: flex;
    padding: 15px;
    font-size: 20px;
}

/*Portfolio Styling*/
.showcase {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 20px;
    width: auto;
    height: auto;
    flex: 0 0 300px;
}
  
.showcase h2 {
    padding: 8px;
    text-align: center;
}

.showcase p {
    padding: 5px;
    text-align: center;
}

.showcase img {
    width: 100%;
}

.portfolio-items {
    flex: 4;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.card {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 20px;
    width: auto;
    height: 260px;
    flex: 0 0 300px;
}
  
.card h2 {
    padding: 8px;
    text-align: center;
}

.card p {
    padding: 5px;
    text-align: center;
}

.card img {
    width: 100%;
}

/*Contact Styling*/
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.contact h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    font-size: 50px;
    padding: 70px;
    text-decoration: underline;
}

.contact ul {
    display: flex;
}

.contact ul li {
    display: inline-block;
    transition: transform 250ms;
}

.contact ul li:hover {
    transform: translateY(-10px);
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa-linkedin {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #f33b35;
    color: white;
}

/*Footer Styling*/
.footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

.footer h3 {
    margin: 8px;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    main,
    nav {
        flex-direction: column;
    }
}
  