@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a;
}

body {
    color: #ecf0f1;
}

/*Navigation Styling*/ 
nav {
    background-color: transparent;
    overflow: hidden;
}

nav a {
    float: right;
    color: inherit;
    text-align: center;
    padding: 30px 15px;
    margin: 20px;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.3s ease 0s;
}

nav a:hover {
    color: #808080;
}

/*About Styling*/
.about {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    
}

.profile {
    border-radius: 50%;
    width: 25%;
    height: auto;
}

.about h1 {
    font-size: xx-large;
    padding: 30px;
}

.about p {
    font-size: large;
}

/*Portfolio Styling*/
.portfolio {
    flex: 4;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.showcase {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 20px;
    width: 75%;
    height: auto;
    flex: 0 0 300px;
}
  
.showcase h2 {
    padding: 8px;
    text-align: center;
}

.showcase p {
    padding: 5px;
    text-align: center;
}

.showcase img {
    width: 100%;
}

.card {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 20px;
    width: auto;
    height: 260px;
    flex: 0 0 300px;
}
  
.card h2 {
    padding: 8px;
    text-align: center;
}

.card p {
    padding: 5px;
    text-align: center;
}

.card img {
    width: 100%;
}
  
@media screen and (max-width: 768px) {
    main,
    nav {
        flex-direction: column;
    }
}
  